/* فونت‌های ایران‌یکان */
@font-face {
  font-family: 'IranYekan';
  src: url('/fonts/iranyekanweblight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IranYekan';
  src: url('/fonts/iranyekanwebregular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IranYekan';
  src: url('/fonts/iranyekanwebmedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IranYekan';
  src: url('/fonts/iranyekanwebbold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IranYekan';
  src: url('/fonts/iranyekanwebextrabold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  direction: rtl;
  font-family: 'IranYekan', sans-serif;
}